@import 'variables.styl'
@import 'navigation.styl'
@import 'calendar.styl'
@import 'games.styl'
@import 'boxscore.styl'
@import 'settings.styl'

body
  font-family site_font
  padding 0
  margin 0
  background site_background
  color site_color

// content

.content
  padding 0.5em
  height auto
  display block
