body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #00008b;
  display: inline;
}
nav {
  display: inline;
}
nav .navigation {
  display: inline;
}
nav .navigation li {
  display: inline;
  margin: 0.5em;
}
.game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.game-container {
  list-style: none;
  width: 8em;
  height: 4em;
  background: #fff;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  margin: 0.275em;
  cursor: pointer;
  padding: 0.2em;
}
.game-container:hover {
  background: rgba(0,0,95,0.1);
}
.game-container .game-team-line {
  margin: 0.3em;
  margin-top: 0.4em;
  padding: 0;
  font-size: 0.8em;
}
.game-container .game-team-line .score {
  float: right;
}
.game-container .status {
  font-size: 0.6em;
}
.game-container .status .live {
  background: #008000;
  color: #fff;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.game-container .status .statusDesc {
  float: right;
}
table {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
  border-spacing: 0;
  width: 100%;
  text-align: right;
  color: #6c6d6f;
  margin: auto;
}
table .table-header,
table .name {
  font-family: 'Open Sans', sans-serif;
}
table .name {
  width: 30%;
  text-align: left;
  padding-left: 3em;
}
th {
  background: #6c6d6f;
  padding: 0.5em;
  color: #fff;
}
td {
  padding: 0.3em;
  margin: 0;
}
tr:nth-child(odd) {
  background: #e8edff;
}
tr:nth-child(even) {
  background: #fff;
}
tr {
  cursor: pointer;
}
tr:hover {
  background: #ffffe0;
}
.notified {
  background: #ff0 !important;
}
.boxscore-container {
  background: #edeef0;
  display: flex;
}
.boxscore {
  max-width: 970px;
  margin: 1em;
}
.boxscore .starter::after {
  content: '*';
}
.boxscore .on-court {
  font-weight: bold;
  color: #f00;
}
.boxscore .position {
  font-size: 0.7em;
  position: relative;
  top: -4px;
}
.boxscore .totals {
  background: #ccc;
  font-weight: bold;
}
.boxscore .team {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
