h1 {
  color: #baffff;
  display: inline;
}
header {
  background: #005685;
  padding: 0.5em;
}
nav {
  display: inline;
}
nav .navigation {
  display: inline;
}
nav .navigation li,
nav .navigation a {
  display: inline;
  margin: 0.5em;
  margin-left: 0;
  color: #5cafdb;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
nav .navigation li .line,
nav .navigation a .line {
  background: #8cdeff;
  display: inline-block;
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 0;
  height: 0.1em;
  transition: all 0.3s ease-out;
}
nav .navigation li:hover,
nav .navigation a:hover {
  color: #8cdeff;
  text-decoration: none;
}
nav .navigation li:hover .line,
nav .navigation a:hover .line {
  width: 100%;
}
.my-players-container {
  margin-top: 2em;
}
.my-players-container .notify-player-list {
  width: 100%;
  display: table;
}
.my-players-container .notify-player-list .remove {
  padding: 1em;
  padding-left: 0.5em;
}
.my-players-container .notify-player-list .remove .remove-icon {
  visibility: hidden;
}
.my-players-container .notify-player-list .player .name {
  padding-left: 0;
}
.my-players-container .notify-player-list .player:hover {
  background: #005685;
  color: #f5e7c9;
}
.my-players-container .notify-player-list .player:hover .remove {
  color: inherit;
}
.my-players-container .notify-player-list .player:hover .remove .remove-icon {
  visibility: visible;
}
.my-players-container .notify-player-list .player:hover .remove:hover {
  color: #8cdeff;
}
.my-players-container .notify-player-list .name .position {
  font-size: 0.6em;
  position: relative;
  top: -0.4em;
}
.my-players-container .notify-player-list .controls {
  text-align: right;
}
