<div class="boxscore">
  <table>
    <thead class="table-header">
      <tr><th colspan="15" class="team-name">{{team.info.team.displayName}}</th></tr>
      <tr>
        <th class="name">nome</th>
        <th>mins</th>
        <th>fg</th>
        <th>ft</th>
        <th>3pt</th>
        <th>or</th>
        <th>dr</th>
        <th>reb</th>
        <th>ast</th>
        <th>blk</th>
        <th>stl</th>
        <th>to</th>
        <th>f</th>
        <th>pts</th>
        <th>fps</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let player of players()"
        ng-class="{ 'notified' : myPlayers()[player.name] }"
        (click)="togglePlayer(player)"
      >
        <td class="name">
          <span
            [class.starter]="player.starter"
            [class.on-court]="player.active"
          >{{player.name}}</span>
          <span class="position"> {{player.position}}</span>
        </td>
        <td
          *ngIf="player.dnp"
          colspan="14"
          class="dnp"
        >{{player.dnpReason}}</td>

        <ng-container *ngIf="!player.dnp">
          <td>{{player.stats.minutes}}</td>
          <td>{{player.stats.field_goal}}</td>
          <td>{{player.stats.free_throw}}</td>
          <td>{{player.stats.three_points}}</td>
          <td>{{player.stats.offensive_rebounds}}</td>
          <td>{{player.stats.defensive_rebounds}}</td>
          <td>{{player.stats.rebounds}}</td>
          <td>{{player.stats.assists}}</td>
          <td>{{player.stats.blocks}}</td>
          <td>{{player.stats.steals}}</td>
          <td>{{player.stats.turnovers}}</td>
          <td>{{player.stats.personal_fouls}}</td>
          <td>{{player.stats.points}}</td>
          <td>
            {{
              (player.stats.points -
              0.4 * player.stats.field_goal_attempts -
              0.2 * player.stats.free_throw_attempts +
              1.2 * player.stats.offensive_rebounds  +
              player.stats.defensive_rebounds  +
              1.1 * player.stats.assists +
              1.2 * player.stats.steals +
              1.3 * player.stats.blocks -
              1.1 * player.stats.turnovers -
              player.stats.personal_fouls +
              winnerScore()).toFixed(2)
            }}
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <tr class="totals">
        <td colspan="2" class="team">time</td>
        <td>{{teamScore().field_goal}}</td>
        <td>{{teamScore().free_throw}}</td>
        <td>{{teamScore().three_points}}</td>
        <td>{{teamScore().offensive_rebounds}}</td>
        <td>{{teamScore().defensive_rebounds}}</td>
        <td>{{teamScore().rebounds}}</td>
        <td>{{teamScore().assists}}</td>
        <td>{{teamScore().blocks}}</td>
        <td>{{teamScore().steals}}</td>
        <td>{{teamScore().turnovers}}</td>
        <td>{{teamScore().personal_fouls}}</td>
        <td>{{teamScore().points}}</td>
        <td>--</td>
      </tr>
    </tfoot>
  </table>
</div>
