.button-container {
  width: 100%;
  margin-top: 1em;
}

.calendar {
  list-style: none;
  display: flex;
  padding: 0;
  position: relative;
  justify-content: center;
}

.backward, .forward {
  font-size: 1.5em;
  cursor: pointer;
  margin: auto;
  width: 2%;
  color: #005685;
}

.backward:hover, .forward:hover {
  color: #32d99c;
}

.backward:after {
  content: '\2190';
}

.forward:after {
  content: '\2192';
}

.date {
  margin: 1em;
  width: 24%;
  padding: 0.75em;
  color: #005685;
  text-align: center;
  border-top: solid 1px #005685;
  border-bottom: solid 1px #005685;
  cursor: pointer;

}

.date.selected, .date:hover {
  background: #005685;
  color: #f5e7c9;
}

button {
  margin: 2em auto;
  background: transparent;
  display: block;
  padding: 0.5em;
  width: 8%;
  border: none;
  border-top: solid 1px #005685;
  border-bottom: solid 1px #005685;
  color: #005685;
  font-size: 1em;
  cursor: pointer;
}

button:active {
  border-top-color: #5cafdb;
  border-bottom-color: #5cafdb;
  color: #5cafdb;
}

button:hover:not([disabled]) {
  background: #005685;
  color: #f5e7c9;
  border-top-color: #f5e7c9;
  border-bottom-color: #f5e7c9;
}

button:disabled {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  color: #ccc;
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}

@media (max-width: 425px) {

  .date {
    width: 9%;
    margin: 0.3em;
    padding: 0.3em;
  }

  .backward {
    margin: auto 0.7em auto 0.4em;
  }

  .forward {
    margin: auto 0.9em auto 0;
  }
}
